In [1]:
# import needed libraries

import pandas as pd
import openpyxl

In [2]:
#pip install pywin32

In [3]:
# import win32com.client

In [4]:
# File = win32com.client.Dispatch("Excel.Application")

In [5]:
# Workbook = File.Workbooks.open("Copy of Sales Summary on server(SOSgroupAll.REC)v2.xlsm")

In [6]:
# Workbook.RefreshAll()

In [7]:
# Workbook.Save()

In [8]:
# assign sheets to a dataframe
# skip first 12 rows

dict_df = pd.read_excel('Copy of Sales Summary on server(SOSgroupAll.REC)v2.xlsm',
                       sheet_name=['R1 RegularStores(>$20) (2)', 'R2 1&998', 'R3 RegularStores(>$20)Travis', 'R4 RegStores(93.20V88639)'], skiprows=12)

# Rule 1 RegularStores(>20)

In [9]:
# assign first rule to a dataframe

R1_df = dict_df.get("R1 RegularStores(>$20) (2)")
print(R1_df)

               SKU Receive Date Last                  Class Desc  \
0           947166        2022-11-15            41-450 - Cologne
1           952414        2022-11-15            41-450 - Cologne
2           510774        2023-03-03        62-185 - Solid Tanks
3           969235        2023-03-23     43-410 - Comfort Casual
4           969244        2023-03-21     43-410 - Comfort Casual
...            ...               ...                         ...
55116       960321        2022-12-01          41-800 - Hats/caps
55117       965591        2022-11-10          41-800 - Hats/caps
55118       958273        2021-05-25  91-710 - Clutch/small Bags
55119       965390        2023-01-06          41-800 - Hats/caps
55120  Grand Total               NaN                         NaN

                    BRDNM                                     Product Name  \
0                     BKE                             BKE Midnight Cologne
1                     BKE                                 BKE Grey Cologne
2                BKE CORE                 BKE core X-Long Two Way Tank Top
3                Hey Dude              HEYDUDE&#8482; Wally H2O Slick Shoe
4                Hey Dude  HEYDUDE&#8482; Wally Break Panther Stretch Shoe
...                   ...                                              ...
55116                Rvca                         RVCA Balance Trucker Hat
55117  GOORIN ACCESSORIES        Goorin Bros. Project Scorpion Trucker Hat
55118             Bed Stu            Bed Stu Arena Leather Crossbody Purse
55119  GOORIN ACCESSORIES                   Goorin Bros. Rager Trucker Hat
55120                 NaN                                              NaN

      Retail Price Sale Price Sale Price_    Cost Discount Desc   OH + OO  \
0           $34.99     $34.99     $ 34.99   $9.00           NaN     25258
1           $34.99     $34.99     $ 34.99   $8.94           NaN     24313
2           $16.00     $16.00     $ 16.00   $4.30           NaN      9358
3           $64.95     $64.95     $ 64.95  $28.60           NaN      4328
4           $64.99     $64.99     $ 64.99  $28.60           NaN      4263
...            ...        ...         ...     ...           ...       ...
55116       $32.00     $32.00     $ 32.00  $11.42           NaN      3199
55117       $40.00     $40.00     $ 40.00  $16.00           NaN      1199
55118      $110.00    $110.00     $110.00  $50.00           NaN       116
55119       $45.00     $45.00     $ 45.00  $17.00           NaN      1799
55120          NaN        NaN         NaN     NaN           NaN  17406302

       On Hand Current  On Order (PO) All Stores and Dates
0               5458.0                             19800.0
1               4513.0                             19800.0
2               4358.0                              5000.0
3               4328.0                                 NaN
4               4263.0                                 NaN
...                ...                                 ...
55116             -1.0                              3200.0
55117             -1.0                              1200.0
55118             -1.0                               117.0
55119             -1.0                              1800.0
55120        6406835.0                          10999467.0

[55121 rows x 13 columns]

In [10]:
# file path: "C:\Users\3472340\Desktop\pyfiles\Copy of Sales Summary on server(SOSgroupAll.REC)v2.xlsm"

In [11]:
# see if the column names are correct we have 13 columns

list(R1_df.columns)

['SKU',
 'Receive Date Last',
 'Class Desc',
 'BRDNM',
 'Product Name',
 'Retail Price',
 'Sale Price',
 'Sale Price_',
 'Cost',
 'Discount Desc',
 'OH + OO',
 'On Hand Current',
 'On Order (PO) All Stores and Dates']

In [12]:
# taking a look at the sale price values

#salepricelist = test20["Sale Price"].tolist()
#salepricelist

In [13]:
# are there any NaN values

#test20['Receive Date Last'].isnull().values.any()

In [14]:
# how many NaN values

#test20['Receive Date Last'].isnull().values.sum()

In [15]:
# how many NaN values in main dataframe receive date last

R1_df['Receive Date Last'].isnull().values.sum()

8534

In [16]:
R1_df

,SKU,Receive Date Last,Class Desc,BRDNM,Product Name,Retail Price,Sale Price,Sale Price_,Cost,Discount Desc,OH + OO,On Hand Current,On Order (PO) All Stores and Dates
0,947166,2022-11-15,41-450 - Cologne,BKE,BKE Midnight Cologne,$34.99,$34.99,$ 34.99,$9.00,NaN,25258,5458.0,19800.0
1,952414,2022-11-15,41-450 - Cologne,BKE,BKE Grey Cologne,$34.99,$34.99,$ 34.99,$8.94,NaN,24313,4513.0,19800.0
2,510774,2023-03-03,62-185 - Solid Tanks,BKE CORE,BKE core X-Long Two Way Tank Top,$16.00,$16.00,$ 16.00,$4.30,NaN,9358,4358.0,5000.0
3,969235,2023-03-23,43-410 - Comfort Casual,Hey Dude,HEYDUDE&#8482; Wally H2O Slick Shoe,$64.95,$64.95,$ 64.95,$28.60,NaN,4328,4328.0,NaN
4,969244,2023-03-21,43-410 - Comfort Casual,Hey Dude,HEYDUDE&#8482; Wally Break Panther Stretch Shoe,$64.99,$64.99,$ 64.99,$28.60,NaN,4263,4263.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55116,960321,2022-12-01,41-800 - Hats/caps,Rvca,RVCA Balance Trucker Hat,$32.00,$32.00,$ 32.00,$11.42,NaN,3199,-1.0,3200.0
55117,965591,2022-11-10,41-800 - Hats/caps,GOORIN ACCESSORIES,Goorin Bros. Project Scorpion Trucker Hat,$40.00,$40.00,$ 40.00,$16.00,NaN,1199,-1.0,1200.0
55118,958273,2021-05-25,91-710 - Clutch/small Bags,Bed Stu,Bed Stu Arena Leather Crossbody Purse,$110.00,$110.00,$110.00,$50.00,NaN,116,-1.0,117.0
55119,965390,2023-01-06,41-800 - Hats/caps,GOORIN ACCESSORIES,Goorin Bros. Rager Trucker Hat,$45.00,$45.00,$ 45.00,$17.00,NaN,1799,-1.0,1800.0
55120,Grand Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17406302,6406835.0,10999467.0

In [17]:
# checking data types

R1_df.dtypes

SKU                                    object
Receive Date Last                      object
Class Desc                             object
BRDNM                                  object
Product Name                           object
Retail Price                           object
Sale Price                             object
Sale Price_                            object
Cost                                   object
Discount Desc                          object
OH + OO                                 int64
On Hand Current                       float64
On Order (PO) All Stores and Dates    float64
dtype: object

In [18]:
# checking count for datatypes in Sale Price column

R1_df["Sale Price"].apply(type).value_counts()

<class 'str'>      55091
<class 'float'>       30
Name: Sale Price, dtype: int64

In [19]:
# function for taking out the $  sign if it is a string value

def clean_currency(x):
    
    if isinstance(x, str):
        return(x.replace('$', ''))
    return(x)

In [20]:
# applying function and changing data type to float

R1_df['Sale Price'] = R1_df['Sale Price'].apply(clean_currency).astype('float')
R1_df

,SKU,Receive Date Last,Class Desc,BRDNM,Product Name,Retail Price,Sale Price,Sale Price_,Cost,Discount Desc,OH + OO,On Hand Current,On Order (PO) All Stores and Dates
0,947166,2022-11-15,41-450 - Cologne,BKE,BKE Midnight Cologne,$34.99,34.99,$ 34.99,$9.00,NaN,25258,5458.0,19800.0
1,952414,2022-11-15,41-450 - Cologne,BKE,BKE Grey Cologne,$34.99,34.99,$ 34.99,$8.94,NaN,24313,4513.0,19800.0
2,510774,2023-03-03,62-185 - Solid Tanks,BKE CORE,BKE core X-Long Two Way Tank Top,$16.00,16.00,$ 16.00,$4.30,NaN,9358,4358.0,5000.0
3,969235,2023-03-23,43-410 - Comfort Casual,Hey Dude,HEYDUDE&#8482; Wally H2O Slick Shoe,$64.95,64.95,$ 64.95,$28.60,NaN,4328,4328.0,NaN
4,969244,2023-03-21,43-410 - Comfort Casual,Hey Dude,HEYDUDE&#8482; Wally Break Panther Stretch Shoe,$64.99,64.99,$ 64.99,$28.60,NaN,4263,4263.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55116,960321,2022-12-01,41-800 - Hats/caps,Rvca,RVCA Balance Trucker Hat,$32.00,32.00,$ 32.00,$11.42,NaN,3199,-1.0,3200.0
55117,965591,2022-11-10,41-800 - Hats/caps,GOORIN ACCESSORIES,Goorin Bros. Project Scorpion Trucker Hat,$40.00,40.00,$ 40.00,$16.00,NaN,1199,-1.0,1200.0
55118,958273,2021-05-25,91-710 - Clutch/small Bags,Bed Stu,Bed Stu Arena Leather Crossbody Purse,$110.00,110.00,$110.00,$50.00,NaN,116,-1.0,117.0
55119,965390,2023-01-06,41-800 - Hats/caps,GOORIN ACCESSORIES,Goorin Bros. Rager Trucker Hat,$45.00,45.00,$ 45.00,$17.00,NaN,1799,-1.0,1800.0
55120,Grand Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17406302,6406835.0,10999467.0

In [21]:
# Checking datatype after applying function

R1_df["Sale Price"].apply(type).value_counts()

<class 'float'>    55121
Name: Sale Price, dtype: int64

In [22]:
# taking out $20 filter

testall2 = R1_df[R1_df['Sale Price'] >= 20.00]
testall2

,SKU,Receive Date Last,Class Desc,BRDNM,Product Name,Retail Price,Sale Price,Sale Price_,Cost,Discount Desc,OH + OO,On Hand Current,On Order (PO) All Stores and Dates
0,947166,2022-11-15,41-450 - Cologne,BKE,BKE Midnight Cologne,$34.99,34.99,$ 34.99,$9.00,NaN,25258,5458.0,19800.0
1,952414,2022-11-15,41-450 - Cologne,BKE,BKE Grey Cologne,$34.99,34.99,$ 34.99,$8.94,NaN,24313,4513.0,19800.0
3,969235,2023-03-23,43-410 - Comfort Casual,Hey Dude,HEYDUDE&#8482; Wally H2O Slick Shoe,$64.95,64.95,$ 64.95,$28.60,NaN,4328,4328.0,NaN
4,969244,2023-03-21,43-410 - Comfort Casual,Hey Dude,HEYDUDE&#8482; Wally Break Panther Stretch Shoe,$64.99,64.99,$ 64.99,$28.60,NaN,4263,4263.0,NaN
5,948073,2023-03-24,43-400 - Sneakers,Timberland,Timberland&#174; Davis Square Leather Sneaker,$90.00,90.00,$ 90.00,$37.81,NaN,4843,4243.0,600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55115,967229,2022-10-27,91-150 - Stretch/novelty Belts,BKE,BKE Western Steer Head Belt,$24.95,24.95,$ 24.95,$5.65,NaN,1199,-1.0,1200.0
55116,960321,2022-12-01,41-800 - Hats/caps,Rvca,RVCA Balance Trucker Hat,$32.00,32.00,$ 32.00,$11.42,NaN,3199,-1.0,3200.0
55117,965591,2022-11-10,41-800 - Hats/caps,GOORIN ACCESSORIES,Goorin Bros. Project Scorpion Trucker Hat,$40.00,40.00,$ 40.00,$16.00,NaN,1199,-1.0,1200.0
55118,958273,2021-05-25,91-710 - Clutch/small Bags,Bed Stu,Bed Stu Arena Leather Crossbody Purse,$110.00,110.00,$110.00,$50.00,NaN,116,-1.0,117.0
55119,965390,2023-01-06,41-800 - Hats/caps,GOORIN ACCESSORIES,Goorin Bros. Rager Trucker Hat,$45.00,45.00,$ 45.00,$17.00,NaN,1799,-1.0,1800.0

In [23]:
# dropping row values in receive date last that do not have a receive date

testall3 = testall2.dropna(subset=['Receive Date Last'])
testall3

,SKU,Receive Date Last,Class Desc,BRDNM,Product Name,Retail Price,Sale Price,Sale Price_,Cost,Discount Desc,OH + OO,On Hand Current,On Order (PO) All Stores and Dates
0,947166,2022-11-15,41-450 - Cologne,BKE,BKE Midnight Cologne,$34.99,34.99,$ 34.99,$9.00,NaN,25258,5458.0,19800.0
1,952414,2022-11-15,41-450 - Cologne,BKE,BKE Grey Cologne,$34.99,34.99,$ 34.99,$8.94,NaN,24313,4513.0,19800.0
3,969235,2023-03-23,43-410 - Comfort Casual,Hey Dude,HEYDUDE&#8482; Wally H2O Slick Shoe,$64.95,64.95,$ 64.95,$28.60,NaN,4328,4328.0,NaN
4,969244,2023-03-21,43-410 - Comfort Casual,Hey Dude,HEYDUDE&#8482; Wally Break Panther Stretch Shoe,$64.99,64.99,$ 64.99,$28.60,NaN,4263,4263.0,NaN
5,948073,2023-03-24,43-400 - Sneakers,Timberland,Timberland&#174; Davis Square Leather Sneaker,$90.00,90.00,$ 90.00,$37.81,NaN,4843,4243.0,600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55115,967229,2022-10-27,91-150 - Stretch/novelty Belts,BKE,BKE Western Steer Head Belt,$24.95,24.95,$ 24.95,$5.65,NaN,1199,-1.0,1200.0
55116,960321,2022-12-01,41-800 - Hats/caps,Rvca,RVCA Balance Trucker Hat,$32.00,32.00,$ 32.00,$11.42,NaN,3199,-1.0,3200.0
55117,965591,2022-11-10,41-800 - Hats/caps,GOORIN ACCESSORIES,Goorin Bros. Project Scorpion Trucker Hat,$40.00,40.00,$ 40.00,$16.00,NaN,1199,-1.0,1200.0
55118,958273,2021-05-25,91-710 - Clutch/small Bags,Bed Stu,Bed Stu Arena Leather Crossbody Purse,$110.00,110.00,$110.00,$50.00,NaN,116,-1.0,117.0
55119,965390,2023-01-06,41-800 - Hats/caps,GOORIN ACCESSORIES,Goorin Bros. Rager Trucker Hat,$45.00,45.00,$ 45.00,$17.00,NaN,1799,-1.0,1800.0

# Rule 2 R2 1&998

In [24]:
# reading in next rule R2

R2_df = dict_df.get("R2 1&998")
print(R2_df)

               SKU Receive Date Last                       Class Desc  \
0           962009        2022-01-24                 41-450 - Cologne
1           510774        2023-03-03             62-185 - Solid Tanks
2           546567        2023-03-10               62-178 - Bralettes
3           510775        2022-11-16             62-185 - Solid Tanks
4           960164        2022-09-12                 91-600 - Perfume
...            ...               ...                              ...
36901       547526               NaN  62-130 - S/s Branded Tee shirts
36902       160063               NaN           51-200 - Fashion Jeans
36903       158143        2022-11-05             46-100 - Denim Jeans
36904       969121        2023-01-16          43-410 - Comfort Casual
36905  Grand Total               NaN                              NaN

              BRDNM                                   Product Name  \
0        AFFLICTION                   Affliction Live Fast Cologne
1          BKE CORE               BKE core X-Long Two Way Tank Top
2      BKEssentials                 BKEssentials Waffle Knit Brami
3          BKE CORE               BKE core X-Long Two Way Tank Top
4               BKE                          BKE For Her Fragrance
...             ...                                            ...
36901    AFFLICTION                                            NaN
36902       MISS ME             Miss Me Mid-Rise Boot Stretch Jean
36903       SALVAGE  Boys - Salvage Reckless Straight Stretch Jean
36904      Hey Dude                      HEYDUDE&#8482; Wally Shoe
36905           NaN                                            NaN

      Retail Price Sale Price Sale Price_    Cost Discount Desc   OH + OO  \
0           $59.95     $59.95     $ 59.95  $10.29           NaN      7076
1           $16.00     $16.00     $ 16.00   $4.30           NaN     10218
2           $24.99     $24.99     $ 24.99   $6.00           NaN      5175
3           $16.00     $16.00     $ 16.00   $4.30           NaN     14676
4           $24.95     $24.95     $ 24.95   $6.87           NaN      4743
...            ...        ...         ...     ...           ...       ...
36901       $54.00     $54.00     $ 54.00  $20.25           NaN       599
36902      $109.00    $109.00     $109.00  $42.51           NaN       909
36903       $64.95     $64.95     $ 64.95  $21.13           NaN      1149
36904       $64.99     $64.99     $ 64.99  $28.60           NaN      3202
36905          NaN        NaN         NaN     NaN           NaN  12175951

       On Hand Current  On Order (PO) All Stores and Dates
0               7076.0                                 NaN
1               5218.0                              5000.0
2               5175.0                                 NaN
3               4876.0                              9800.0
4               4743.0                                 NaN
...                ...                                 ...
36901             -1.0                               600.0
36902             -1.0                               910.0
36903             -1.0                              1150.0
36904             -2.0                              3204.0
36905        1186864.0                          10989087.0

[36906 rows x 13 columns]

In [25]:
# see if the column names are correct we have 13 columns

list(R2_df.columns)

['SKU',
 'Receive Date Last',
 'Class Desc',
 'BRDNM',
 'Product Name',
 'Retail Price',
 'Sale Price',
 'Sale Price_',
 'Cost',
 'Discount Desc',
 'OH + OO',
 'On Hand Current',
 'On Order (PO) All Stores and Dates']

In [26]:
# how many NaN values

R2_df['Receive Date Last'].isnull().values.sum()

8506

In [27]:
# filter out blank receive date
r2good_data = R2_df.dropna(subset=['Receive Date Last'])
r2good_data

,SKU,Receive Date Last,Class Desc,BRDNM,Product Name,Retail Price,Sale Price,Sale Price_,Cost,Discount Desc,OH + OO,On Hand Current,On Order (PO) All Stores and Dates
0,962009,2022-01-24,41-450 - Cologne,AFFLICTION,Affliction Live Fast Cologne,$59.95,$59.95,$ 59.95,$10.29,NaN,7076,7076.0,NaN
1,510774,2023-03-03,62-185 - Solid Tanks,BKE CORE,BKE core X-Long Two Way Tank Top,$16.00,$16.00,$ 16.00,$4.30,NaN,10218,5218.0,5000.0
2,546567,2023-03-10,62-178 - Bralettes,BKEssentials,BKEssentials Waffle Knit Brami,$24.99,$24.99,$ 24.99,$6.00,NaN,5175,5175.0,NaN
3,510775,2022-11-16,62-185 - Solid Tanks,BKE CORE,BKE core X-Long Two Way Tank Top,$16.00,$16.00,$ 16.00,$4.30,NaN,14676,4876.0,9800.0
4,960164,2022-09-12,91-600 - Perfume,BKE,BKE For Her Fragrance,$24.95,$24.95,$ 24.95,$6.87,NaN,4743,4743.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36898,954031,2021-11-16,91-600 - Perfume,BUCKLE BLACK,Buckle Black No. 2 For Her Fragrance,$24.95,$24.95,$ 24.95,$5.63,NaN,9999,-1.0,10000.0
36899,947782,2022-11-10,41-450 - Cologne,Jimmy Choo,Jimmy Choo Man Cologne,$78.00,$78.00,$ 78.00,$30.66,NaN,944,-1.0,945.0
36900,950409,2022-10-20,91-100 - Belts,BKE,BKE Studded Glitz Belt,$24.95,$24.95,$ 24.95,$4.80,NaN,1789,-1.0,1790.0
36903,158143,2022-11-05,46-100 - Denim Jeans,SALVAGE,Boys - Salvage Reckless Straight Stretch Jean,$64.95,$64.95,$ 64.95,$21.13,NaN,1149,-1.0,1150.0
36904,969121,2023-01-16,43-410 - Comfort Casual,Hey Dude,HEYDUDE&#8482; Wally Shoe,$64.99,$64.99,$ 64.99,$28.60,NaN,3202,-2.0,3204.0

# Rule 3 RegularStores(>20)Travis

In [28]:
# assign 3rd rule to a dataframe

R3_df = dict_df.get("R3 RegularStores(>$20)Travis")
print(R3_df)

             SKU Receive Date Last          Class Desc         BRDNM  \
0         958919        2023-03-01  41-800 - Hats/caps  TravisMathew
1         968084        2023-02-09  41-800 - Hats/caps  TravisMathew
2         968082        2022-08-03  41-800 - Hats/caps  TravisMathew
3         968083        2023-01-25  41-800 - Hats/caps  TravisMathew
4         449992        2023-02-21   12-120 - Ss Polos  TravisMathew
..           ...               ...                 ...           ...
207       968086               NaN  41-800 - Hats/caps  TravisMathew
208       452325               NaN   12-120 - Ss Polos  TravisMathew
209       449998               NaN    12-140 - Ss Tees  TravisMathew
210       452326               NaN   12-120 - Ss Polos  TravisMathew
211  Grand Total               NaN                 NaN           NaN

                                       Product Name Retail Price Sale Price  \
0    TravisMathew The Patch 110 Flexfit Trucker Hat       $34.95     $34.95
1                    TravisMathew Desert Willow Hat       $34.95     $34.95
2           TravisMathew The Heater 110 Flexfit Hat       $37.95     $37.95
3         TravisMathew Crystal Blue 110 Flexfit Hat       $34.95     $34.95
4                TravisMathew Margarita Mayhem Polo       $89.95     $89.95
..                                              ...          ...        ...
207                                             NaN       $34.95     $34.95
208                                             NaN       $89.95     $89.95
209                                             NaN       $39.95     $39.95
210                                             NaN       $89.95     $89.95
211                                             NaN          NaN        NaN

    Sale Price_    Cost Discount Desc  OH + OO  On Hand Current  \
0       $ 34.95  $15.97           NaN      229            129.0
1       $ 34.95  $16.63           NaN      115            115.0
2       $ 37.95  $18.05           NaN       97             97.0
3       $ 34.95  $16.55           NaN       91             91.0
4       $ 89.95  $42.75           NaN      231             81.0
..          ...     ...           ...      ...              ...
207     $ 34.95  $16.55           NaN      120              NaN
208     $ 89.95  $42.75           NaN       50              NaN
209     $ 39.95  $19.00           NaN      100              NaN
210     $ 89.95  $42.75           NaN       50              NaN
211         NaN     NaN           NaN     4573           1933.0

     On Order (PO) All Stores and Dates
0                                 100.0
1                                   NaN
2                                   NaN
3                                   NaN
4                                 150.0
..                                  ...
207                               120.0
208                                50.0
209                               100.0
210                                50.0
211                              2640.0

[212 rows x 13 columns]

In [29]:
# see if the column names are correct we have 13 columns

list(R3_df.columns)

['SKU',
 'Receive Date Last',
 'Class Desc',
 'BRDNM',
 'Product Name',
 'Retail Price',
 'Sale Price',
 'Sale Price_',
 'Cost',
 'Discount Desc',
 'OH + OO',
 'On Hand Current',
 'On Order (PO) All Stores and Dates']

In [30]:
R3_df['Sale Price'] = R3_df['Sale Price'].apply(clean_currency).astype('float')
R3_df

,SKU,Receive Date Last,Class Desc,BRDNM,Product Name,Retail Price,Sale Price,Sale Price_,Cost,Discount Desc,OH + OO,On Hand Current,On Order (PO) All Stores and Dates
0,958919,2023-03-01,41-800 - Hats/caps,TravisMathew,TravisMathew The Patch 110 Flexfit Trucker Hat,$34.95,34.95,$ 34.95,$15.97,NaN,229,129.0,100.0
1,968084,2023-02-09,41-800 - Hats/caps,TravisMathew,TravisMathew Desert Willow Hat,$34.95,34.95,$ 34.95,$16.63,NaN,115,115.0,NaN
2,968082,2022-08-03,41-800 - Hats/caps,TravisMathew,TravisMathew The Heater 110 Flexfit Hat,$37.95,37.95,$ 37.95,$18.05,NaN,97,97.0,NaN
3,968083,2023-01-25,41-800 - Hats/caps,TravisMathew,TravisMathew Crystal Blue 110 Flexfit Hat,$34.95,34.95,$ 34.95,$16.55,NaN,91,91.0,NaN
4,449992,2023-02-21,12-120 - Ss Polos,TravisMathew,TravisMathew Margarita Mayhem Polo,$89.95,89.95,$ 89.95,$42.75,NaN,231,81.0,150.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,968086,NaN,41-800 - Hats/caps,TravisMathew,NaN,$34.95,34.95,$ 34.95,$16.55,NaN,120,NaN,120.0
208,452325,NaN,12-120 - Ss Polos,TravisMathew,NaN,$89.95,89.95,$ 89.95,$42.75,NaN,50,NaN,50.0
209,449998,NaN,12-140 - Ss Tees,TravisMathew,NaN,$39.95,39.95,$ 39.95,$19.00,NaN,100,NaN,100.0
210,452326,NaN,12-120 - Ss Polos,TravisMathew,NaN,$89.95,89.95,$ 89.95,$42.75,NaN,50,NaN,50.0
211,Grand Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4573,1933.0,2640.0

In [31]:
R3_df["Sale Price"].apply(type).value_counts()

<class 'float'>    212
Name: Sale Price, dtype: int64

In [32]:
r320 = R3_df[R3_df['Sale Price'] >= 20.00]
r320

,SKU,Receive Date Last,Class Desc,BRDNM,Product Name,Retail Price,Sale Price,Sale Price_,Cost,Discount Desc,OH + OO,On Hand Current,On Order (PO) All Stores and Dates
0,958919,2023-03-01,41-800 - Hats/caps,TravisMathew,TravisMathew The Patch 110 Flexfit Trucker Hat,$34.95,34.95,$ 34.95,$15.97,NaN,229,129.0,100.0
1,968084,2023-02-09,41-800 - Hats/caps,TravisMathew,TravisMathew Desert Willow Hat,$34.95,34.95,$ 34.95,$16.63,NaN,115,115.0,NaN
2,968082,2022-08-03,41-800 - Hats/caps,TravisMathew,TravisMathew The Heater 110 Flexfit Hat,$37.95,37.95,$ 37.95,$18.05,NaN,97,97.0,NaN
3,968083,2023-01-25,41-800 - Hats/caps,TravisMathew,TravisMathew Crystal Blue 110 Flexfit Hat,$34.95,34.95,$ 34.95,$16.55,NaN,91,91.0,NaN
4,449992,2023-02-21,12-120 - Ss Polos,TravisMathew,TravisMathew Margarita Mayhem Polo,$89.95,89.95,$ 89.95,$42.75,NaN,231,81.0,150.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,452324,NaN,12-120 - Ss Polos,TravisMathew,NaN,$99.95,99.95,$ 99.95,$47.50,NaN,150,NaN,150.0
207,968086,NaN,41-800 - Hats/caps,TravisMathew,NaN,$34.95,34.95,$ 34.95,$16.55,NaN,120,NaN,120.0
208,452325,NaN,12-120 - Ss Polos,TravisMathew,NaN,$89.95,89.95,$ 89.95,$42.75,NaN,50,NaN,50.0
209,449998,NaN,12-140 - Ss Tees,TravisMathew,NaN,$39.95,39.95,$ 39.95,$19.00,NaN,100,NaN,100.0
210,452326,NaN,12-120 - Ss Polos,TravisMathew,NaN,$89.95,89.95,$ 89.95,$42.75,NaN,50,NaN,50.0

In [33]:
# how many NaN values

R3_df['Receive Date Last'].isnull().values.sum()

25

In [34]:
r3good_data = r320.dropna(subset=['Receive Date Last'])
r3good_data

,SKU,Receive Date Last,Class Desc,BRDNM,Product Name,Retail Price,Sale Price,Sale Price_,Cost,Discount Desc,OH + OO,On Hand Current,On Order (PO) All Stores and Dates
0,958919,2023-03-01,41-800 - Hats/caps,TravisMathew,TravisMathew The Patch 110 Flexfit Trucker Hat,$34.95,34.95,$ 34.95,$15.97,NaN,229,129.0,100.0
1,968084,2023-02-09,41-800 - Hats/caps,TravisMathew,TravisMathew Desert Willow Hat,$34.95,34.95,$ 34.95,$16.63,NaN,115,115.0,NaN
2,968082,2022-08-03,41-800 - Hats/caps,TravisMathew,TravisMathew The Heater 110 Flexfit Hat,$37.95,37.95,$ 37.95,$18.05,NaN,97,97.0,NaN
3,968083,2023-01-25,41-800 - Hats/caps,TravisMathew,TravisMathew Crystal Blue 110 Flexfit Hat,$34.95,34.95,$ 34.95,$16.55,NaN,91,91.0,NaN
4,449992,2023-02-21,12-120 - Ss Polos,TravisMathew,TravisMathew Margarita Mayhem Polo,$89.95,89.95,$ 89.95,$42.75,NaN,231,81.0,150.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,431090,2019-04-09,12-120 - Ss Polos,TravisMathew,TravisMathew Good Good Polo,$84.95,42.47,$ 42.47,$38.00,50% off,1,1.0,NaN
183,431110,2019-06-12,12-120 - Ss Polos,TravisMathew,TravisMathew Change The Business Stretch Polo,$84.95,56.92,$ 56.92,$38.00,33% off,1,1.0,NaN
184,444024,2022-04-14,12-140 - Ss Tees,TravisMathew,TravisMathew Grand Rapids T-Shirt,$34.95,27.96,$ 27.96,$16.63,20% off,1,1.0,NaN
185,431082,2019-03-11,12-120 - Ss Polos,TravisMathew,TravisMathew The Pitt Polo,$89.95,60.27,$ 60.27,$40.38,33% off,1,1.0,NaN
186,441718,2021-08-10,12-120 - Ss Polos,TravisMathew,TravisMathew Nearly There Polo,$89.95,71.96,$ 71.96,$40.38,20% off,1,1.0,NaN

# Rule 4 RegStores(93.20V88639)

In [35]:
# read in rule 4 to a dataframe

R4_df = dict_df.get("R4 RegStores(93.20V88639)")
print(R4_df)

           SKU Receive Date Last              Class Desc   BRDNM  \
0       962101        2021-08-02  93-020 - Shoes Seconds  Very G
1       962030        2021-06-25  93-020 - Shoes Seconds  Very G
2       962102        2021-08-24  93-020 - Shoes Seconds  Very G
3       962105        2021-08-19  93-020 - Shoes Seconds  Very G
4       962104        2021-07-27  93-020 - Shoes Seconds  Very G
5  Grand Total               NaN                     NaN     NaN

              Product Name Retail Price Sale Price Sale Price_    Cost  \
0        Very G Giana Shoe       $49.95     $22.97     $ 22.97  $14.40
1  Very G Zuma Casual Shoe       $49.95     $22.97     $ 22.97  $14.40
2        Very G Regan Shoe       $49.95     $22.97     $ 22.97  $14.40
3         Very G Shea Shoe       $49.95     $22.97     $ 22.97  $14.40
4        Very G Giana Shoe       $49.95     $22.97     $ 22.97  $14.40
5                      NaN          NaN        NaN         NaN     NaN

   Discount Desc  OH + OO  On Hand Current  On Order (PO) All Stores and Dates
0          22.97        8                8                                 NaN
1          22.97        4                4                                 NaN
2          22.97        3                3                                 NaN
3          22.97        1                1                                 NaN
4          22.97        1                1                                 NaN
5            NaN       17               17                                 NaN

In [36]:
# see if the column names are correct we have 13 columns

list(R4_df.columns)

['SKU',
 'Receive Date Last',
 'Class Desc',
 'BRDNM',
 'Product Name',
 'Retail Price',
 'Sale Price',
 'Sale Price_',
 'Cost',
 'Discount Desc',
 'OH + OO',
 'On Hand Current',
 'On Order (PO) All Stores and Dates']

In [37]:
# how many NaN values

R4_df['Receive Date Last'].isnull().values.sum()

1

In [38]:
r4good_data = R4_df.dropna(subset=['Receive Date Last'])
r4good_data

,SKU,Receive Date Last,Class Desc,BRDNM,Product Name,Retail Price,Sale Price,Sale Price_,Cost,Discount Desc,OH + OO,On Hand Current,On Order (PO) All Stores and Dates
0,962101,2021-08-02,93-020 - Shoes Seconds,Very G,Very G Giana Shoe,$49.95,$22.97,$ 22.97,$14.40,22.97,8,8,NaN
1,962030,2021-06-25,93-020 - Shoes Seconds,Very G,Very G Zuma Casual Shoe,$49.95,$22.97,$ 22.97,$14.40,22.97,4,4,NaN
2,962102,2021-08-24,93-020 - Shoes Seconds,Very G,Very G Regan Shoe,$49.95,$22.97,$ 22.97,$14.40,22.97,3,3,NaN
3,962105,2021-08-19,93-020 - Shoes Seconds,Very G,Very G Shea Shoe,$49.95,$22.97,$ 22.97,$14.40,22.97,1,1,NaN
4,962104,2021-07-27,93-020 - Shoes Seconds,Very G,Very G Giana Shoe,$49.95,$22.97,$ 22.97,$14.40,22.97,1,1,NaN

In [39]:
# need to combine testall3, r2good_data, r3good_data, and r4good_data

In [40]:
all_df = pd.concat([testall3, r2good_data, r3good_data, r4good_data], axis=0)

In [41]:
all_df

,SKU,Receive Date Last,Class Desc,BRDNM,Product Name,Retail Price,Sale Price,Sale Price_,Cost,Discount Desc,OH + OO,On Hand Current,On Order (PO) All Stores and Dates
0,947166,2022-11-15,41-450 - Cologne,BKE,BKE Midnight Cologne,$34.99,34.99,$ 34.99,$9.00,NaN,25258,5458.0,19800.0
1,952414,2022-11-15,41-450 - Cologne,BKE,BKE Grey Cologne,$34.99,34.99,$ 34.99,$8.94,NaN,24313,4513.0,19800.0
3,969235,2023-03-23,43-410 - Comfort Casual,Hey Dude,HEYDUDE&#8482; Wally H2O Slick Shoe,$64.95,64.95,$ 64.95,$28.60,NaN,4328,4328.0,NaN
4,969244,2023-03-21,43-410 - Comfort Casual,Hey Dude,HEYDUDE&#8482; Wally Break Panther Stretch Shoe,$64.99,64.99,$ 64.99,$28.60,NaN,4263,4263.0,NaN
5,948073,2023-03-24,43-400 - Sneakers,Timberland,Timberland&#174; Davis Square Leather Sneaker,$90.00,90.0,$ 90.00,$37.81,NaN,4843,4243.0,600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,962101,2021-08-02,93-020 - Shoes Seconds,Very G,Very G Giana Shoe,$49.95,$22.97,$ 22.97,$14.40,22.97,8,8.0,NaN
1,962030,2021-06-25,93-020 - Shoes Seconds,Very G,Very G Zuma Casual Shoe,$49.95,$22.97,$ 22.97,$14.40,22.97,4,4.0,NaN
2,962102,2021-08-24,93-020 - Shoes Seconds,Very G,Very G Regan Shoe,$49.95,$22.97,$ 22.97,$14.40,22.97,3,3.0,NaN
3,962105,2021-08-19,93-020 - Shoes Seconds,Very G,Very G Shea Shoe,$49.95,$22.97,$ 22.97,$14.40,22.97,1,1.0,NaN
4,962104,2021-07-27,93-020 - Shoes Seconds,Very G,Very G Giana Shoe,$49.95,$22.97,$ 22.97,$14.40,22.97,1,1.0,NaN

In [42]:
# export to excel spreadsheet rename
all_df.to_excel("SOS_SKU_Upload3.27.23.xlsx")

In [43]:
# need to add refresh and save workbook
# need to import SFS and combine with SOS SKUs
# exclude skus